      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80vh;
        width: 80vh;
        margin-left: 10vh;
        border: 4px solid black;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-image: url('./pics/backgroundimg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        height: auto;
        
      }

      #documentation{
        background-color: rgb(255, 255, 255, 0.5);
        font-size: larger;
      }

      #actionButtons{
        margin-left: 30px;
        margin-bottom: 10px;
        align-content: center;
      }

      .actionButt {
        border: 1px solid black;
        border-radius: 10px;
      }

      .projectContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 10vh 10vh 10vh 10vh;
      }


      #flightno{
        background-color: aliceblue;
        padding: 10px;
        margin: 2px;
      }

      #infotext {
        background-color: aliceblue;
        padding: 10px;
        margin: 2px;
      }

      #table {
        background-color: rgb(15, 73, 100);
        width: 80vh;
        height: 80vh;
        border: 4px solid black;
         
        
      }

      .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }

.btn{
  margin-top: 2px;
}